<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
   <p1> testing text </p1>

    <header>    
        <%- include('../partials/header'); %>
    </header>
    <p> testing text </p>
    <main>
        <p> testing text </p>
    
        <form action="process_form" method="post">   

        <div class="row align-items-center">

            <div class="col">
                <input type="text" id="song" name="song" class="form-control" placeholder="Enter Race" required
                autofocus>

                <input type="text" id="oldrace" name="oldrace" class="form-control" placeholder="Enter Year" required
                autofocus>


                <br>
                <input class="btn btn-lg btn-primary btn-block" id="sub" type="submit">
                </form>
            </div>

   
            <div class="col">
            <% if (locals.race) { %>
            <!-- I encapsulate the results in a <p1> in order to use it with the hide/show allowing me to hide the entire section -->
                <h1 id="text"> <%= race.raceName %> </h1>
                <h3> <%= driver.givenName + " " +  driver.familyName + " " + driver.permanentNumber%> </h3>
                <h3> <%= "Race Time: " + time.Time.time %> </h3>
                <h3> <%= "Fastest Lap: " + time.FastestLap.Time.time %></h3>
            
            <% } %>
            </div>
            </div>
     


    </main>

    <footer>
        <!-- calls onto the footer.ejs to insert the code into the file. -->
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>